body {
		background-color: #FFF;
}

#header {
		margin: auto;
		width: 50%;
		text-align: center;
}

#header h1 {
		color: #4C7A4A;
}

ul {
		list-style: disc inside !important;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 1.75em;
}

li {
		width: 100px;
}

.button {
		text-shadow: 2px 2px 1px black;
		margin-left: auto;
		margin-right: auto;
		color: #666;
}

.button:active {
		text-shadow: -2px -2px 1px black;
}

button {
		display: box;
		margin-left: auto;
		margin-right: auto;
        width: 40px;
        height: 40px;
        border-radius: 50% !important;  
        box-shadow: 2px 2px 1px black;
}

button:focus {
    outline: 0 !important;
}

input {
		border: none;
		width: 50px;
		text-align: center;
		font-family: "Yanone Kaffeesatz";
}

.number {
		position: relative;
		top: -7px;
		font-weight: bold;
}

.clock {
		height: 75px;
		width: 50%;
		border: 3px solid black;
		margin-top: 10px;
		margin-bottom: 50px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 5px 5px 10px black;
		padding: 5px;
        cursor: pointer;
}

.clock-inside {
		position: relative;
		height: 100%;
		width: 100%;
		border: 1px solid black;
}

.timer {
        visibility: hidden;
		position: absolute;
		height: 100%;
		width: 100%;
		font-family: "Yanone Kaffeesatz";
		font-size: 3em;
		line-height: 1.2em;
		z-index: 10;
		color: black;
		text-align: center;
}

.ticker {
		position: relative;
		height: 100%;
		width: 5%;
		background-color: grey;
		border: 3px solid black;
		left: 0;
		box-sizing: border-box;
}

.container {
		margin-top: 25px;        
}

.list-label {
		text-align: center;
		font-size: 1.5em;
}